/*RESET*/

body, h1, h2, h3, ul, li, a, p{
  margin: 0;
  padding: 0;
}

ul, a{
  list-style: none;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

/*MENU*/

.header-bg{
  background: linear-gradient(135deg, #308662, #3ead7f);
}

.header{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo{
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.header-menu{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.header-menu a{
  display: inline-block;
  padding: 12px 14px;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.header-menu a::after{
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: white;
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
}

.header-menu a:hover::after{
  width: 100%;
}

@media(max-width: 800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    padding: 12px 10px;
    background: #308662;
    border-radius: 5px;
  }
  .header-menu a:hover{
    background: rgba(0, 0, 0, .2);
  }
  .header-menu a::after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

/*MAIN*/

.img-entrada{
  box-sizing: border-box;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  max-height: 1000px;
  height: auto;
  width: auto;
}

.introducao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}


