/*RESET*/

body, h1, h2, h3, ul, li, a, p{
  margin: 0;
  padding: 0;
}

ul, a{
  list-style: none;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

/*MENU*/

.header-bg{
  background: #308662;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo{
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.header-menu{
  display: flex;
  gap: 30px;
}

.header-menu a{
  display: inline-block;
  padding: 12px 14px;
  font-size: 1rem;
  color: #ffffff;
  background: #469675;
  border-radius: 5px;
  text-transform: uppercase;
}

.header-menu a:hover{
  background: #eedb31;
}