/*RESET*/

body, h1, h2, h3, ul, li, a, p{
  margin: 0;
  padding: 0;
}

ul, a{
  list-style: none;
  text-decoration: none;
}

*{
  box-sizing: border-box;
}


/*MENU*/

.header-bg{
  background: linear-gradient(135deg, #b3d3d9, #4e7d95);
  max-width: 1800px;
  margin: 0 auto;
}

.header{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo{
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.header-menu{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.header-menu a{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: inline-block;
  padding: 12px 0;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.header-menu a::after{
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: white;
  margin-top: 4px;
  transition: 0.4s;
  position: absolute;
}

.header-menu a:hover::after{
  width: 100%;
}

@media(max-width: 800px){
  .header-menu{
    gap: 20px;
  }
  .header-menu a{
    padding: 12px 10px;
    background: #308662;
    border-radius: 5px;
  }
  .header-menu a:hover{
    background: rgba(0, 0, 0, .2);
  }
  .header-menu a::after{
    display: none;
  }
}

@media (max-width:600px){
  .header-menu{
    gap: 12px;
  }
  .header-menu a{
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

@media (max-width:480px){
  .header-menu a{
    padding: 8px 5px;
  }
}

/*MAIN*/

.main{
  max-width: 1800px;
  margin: 0 auto;
}

.img-entrada{
  display: block;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;
}

.introducao{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.bem-vindo{
  background: #b3d3d9;
  color: #333534
}

.bem-vindo h1{
  font-size: 1.7rem;
  letter-spacing: 2.5px;
  margin: 70px auto 20px 30px;
  padding: 5px 0;
  text-align: left;
}

.bem-vindo h1::after{
  content: '';
  display: block;
  height: 2px;
  width: 65px;
  background: #333534;
  margin-top: 12px;
}

.bem-vindo h2{
  letter-spacing: 1px;
  text-align: left;
  margin: 0 auto 20px 30px;
  font-family: 'Robot', sans-serif;
}

.bem-vindo p{
  text-align: justify;
  margin: 0 20px 20px 30px;
  max-width: 700px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'Robot', sans-serif;
}

.bem-vindo p:last-child{
  margin-bottom: 30px;
}

.servicos{
  background: #4e7d95;
}

.servicos h1{
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 2.5px;
  margin: 70px auto 20px 30px;
  padding: 5px 0;
  text-align: justify;
}

.servicos h1::after{
  content: '';
  display: block;
  height: 2px;
  width: 65px;
  background: white;
  margin-top: 12px;
}

.servicos h2{
  text-align: justify;
  margin: 0 30px 40px 30px;
  font-weight: 300;
  letter-spacing: 1px;
  font-family: 'Robot', sans-serif;
}

.servicos p{
  text-align: left;
  margin: 20px 30px 20px 50px;
  max-width: 800px;
  font-family: 'Robot', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
}

.servicos p::before{
  display: inline-block;
  content: '➤';
  height: 15px;
  width: 15px;
  margin-right: 20px;
  margin-top: -2px;
  align-items: center;
}

.servicos p:last-child{
  margin-bottom: 30px;
}

@media(max-width: 800px){
  .introducao{
    display: grid;
    grid-template-columns: 1fr;
  }
  .bem-vindo h1{
    margin-top: 40px;
  }
  .servicos h1{
    margin-top: 40px;
  }
}


